
    <div class='front_page'>  

      <div class='header_info'>
        <div class='header_block'>
          <h1>Kevin Lustig</h1>
          <h3>A Web Enthusiasts turned Web Developer</h3>
        </div>
       
        <div class='header_icon'> 
          <ul>
            <li>
              <a href="https://twitter.com/klustig88" class="twitter-follow-button" data-show-count="false">
                <span>@klustig88</span>
              </a>
            </li>
            <li>
              <%= mail_to "kevin.lustig88@gmail.com" do %>
               <span>kevin.lustig88@gmail.com</span>
              <% end %>
            </li> 
             <li class='linkedin'>
              <a href="www.linkedin.com/pub/kevin-lustig/39/370/436/">
                <span>LinkedIn</span>
              </a>
            </li>
            <li class='github'>
              <a href="https://github.com/klustig88">
                <span>GitHub</span>
              </a>
            </li>
          </ul>
        </div>  

       



 
    <!-- <div class='tab_bar'> -->
    <div class='tab_container'>
          <ul class='tabs'>
            <li class='active'><a href="#tab1">About Me</a></li>
            <li><a href="#tab2">Experience</a></li>
            <li><a href="#tab3">Projects</a></li>
          </ul>
      
 
      <div class="tab" id="tab1">
           Sports Lover,
          Always Been Interested in The Internet
          Passion for knowledge and the spreading of knowledge
          Open Source Projects
      </div>
      
      <div class="tab" id="tab2">
          <h2>Second tab</h2>
      </div>
      
      <div class="tab" id="tab3">
          <h2>Third tab</h2>
      </div>
    </div>
</div>

