
    <div id='front_page'>  

      <div id='header_info'>
        <div id='header_block'>
          <h1>Kevin Lustig</h1>
          <h3>A Web Enthusiasts turned Web Developer</h3>
        </div>
       
        <div id='header_icon'> 
          <ul>
            <li>
              <a href="https://twitter.com/klustig88" class="twitter-follow-button" data-show-count="false">
                <span>@klustig88</span>
              </a>
            </li>
            <li>
              <%= mail_to "kevin.lustig88@gmail.com" do %>
               <span>kevin.lustig88@gmail.com</span>
              <% end %>
            </li> 
             <li id='linkedin'>
              <a href="www.linkedin.com/pub/kevin-lustig/39/370/436/">
                <span>LinkedIn</span>
              </a>
            </li>
            <li id='github'>
              <a href="https://github.com/klustig88">
                <span>GitHub</span>
              </a>
            </li>
          </ul>
        </div>  
      </div>

