<div class='full_containter'>
  <div class='front_page'>  

    <div class='header_info'>
      <div class='header_block'>
        <h1>Kevin Lustig</h1>
          <h3>A Web Enthusiasts turned Web Developer</h3>
    </div>
         
    <div class='header_icon'> 
      <ul>
        <li>
          <a href="https://twitter.com/klustig88" class="twitter-follow-button" data-show-count="false">
            <span>@klustig88</span>
          </a>
        </li>
        <li>
          <%= mail_to "kevin.lustig88@gmail.com" do %>
          <span>kevin.lustig88@gmail.com</span>
          <% end %>
        </li> 
        <li class='linkedin'>
          <a href="http://www.linkedin.com/pub/kevin-lustig/39/370/436/">
            <span>LinkedIn</span>
          </a>
        </li>
        <li class='github'>
          <a href="https://github.com/klustig88">
            <span>GitHub</span>
          </a>
        </li>
      </ul>
    </div>  

    <div class='tab_container'>
      <ul class='tabs'>
        <li class='active'>
          <a href="#tab1">About Me</a>
        </li>
        <li>
          <a href="#tab2">Experience</a>
        </li>
        <li>
          <a href="#tab3">Projects</a>
        </li>
        <li>
          <a href="#tab4">Skills</a>
        </li>
      </ul>
    </div>
        
    <div class="tab_text">
      <div class="tab" id="tab1">
        <h2>Me in a Nutshell</h2>
        <p>
          I have always been obsessed with computers and the internet for what seems like my entire life now.  I look at how far internet and applications have come and know this is something I must to be a part of.  I am an outgoing person, who not only thrives off a team environment but am someone who loves to interact with people in general.  I have the capability of working on my own and taking on the challenge of expanding my understanding of computer programming. 
        </p> 
        <br> 
        <p> 
          Beyond just a programmer, I am an avid sports fan and am willing to talk sports all day long.        
        </p>
      </div>
        
      <div class="tab" id="tab2">
        <h2>My Experience</h2>
        <p class='dbc'>
          <h4><%= image_tag "dbc.jpeg", height: '40', width: '60' %>Dev Boot Camp</h4>
          <p class='titles'><i>Student</i><span class='duration'>August - November 2013<span></p>
            <p class='dbc_text'>
             <p>
                A 9 week intensive web development bootcamp. Working generally in a paired programming setting, including over 1000 hours of in depth coding experience. Focused on group projects, providing constructive feedback, and communicating effectively in a team environment. Weekly mentoring sessions with established people within the Chicago tech community. Worked on a team that built a full working donation website for a scholarship fund for future Dev BootCamp students.   Took on a teach assistant role afterwards, helping with students who were currently going through the program.  Had mentoring sessions with established people within the tech community.
            </p>
          </p>
        </p>
        <p class="bmo">
          
          <h4> <%= image_tag "bmo.jpeg", height: '40', width: '60' %> BMO Harris</h4>
          <p class='titles'> <i>Investment Associate</i> <span class='duration'>May 2012 - January 2013</span></p>
          <p class='bmo_text'>
             <p>Provided administrative and operational support to three Financial Advisors including preparation of correspondence and documents. Worked directly with clients, in person and over the phone, to service any needs or inquiries about their accounts and investments. Served as an intermediate between the three Financial Advisors and other departments (Marketing, Operations, Trading, IT).   Assisted in preparing complete financial plans for prospective clients and investment performance reports for current clients.  Responsible for planning client seminars including preparation of the marketing campaign, scheduling speakers and overall production of seminar events.</p>
          </p>
        </p>
          <p class="vanguard">      
            
            <h4 class='vanguard_logo'><%= image_tag "vanguard.jpg", height: '60', width: '90' %>The Vanguard Group</h4>
            <p class='client'><i>Client Relationship Associate</i> <span class='duration'>June 2011 - April 2012</span></p>
            <p class='vanguard_text'>
              <p>
                Responsible for responding thoroughly and accurately to phone calls from retirement plan participants and plan administrators. Aided in identifying and resolving participant needs and issues pertaining to legal, regulatory and tax-related issues through verbal communications.  Received extensive training in managing 401(k)’s permitting me to provide clear and concise information to the client.  Developed the personal skills required for successful client relationship management.
              </p>
            </p>
          </p>
       </div>
    
        
        
      </div><div class="tab" id="tab3">
        <h2>Project Line</h2>

        <h4>Dev BootCamp</h4>
        <h4>BMO Harris</h4>
        <h4>Vanguard</h4>
       
    
        
        </p>
      </div>
        
      <div class="tab" id="tab4">
        <h2>My Skill</h2>
        <p>
          Always Been Interested in The Internet
          Passion for knowledge and the spreading of knowledge
          Open Source Projects  Sports Lover,
          Always Been Interested in The Internet
          Passion for knowledge and the spreading of knowledge
          Open Source Projects Sports Lover,
          Always Been Interested in The Internet
          Passion for knowledge and the spreading of knowledge
          Open Source Projects Sports Lover,
          Always Been Interested in The Internet
          Passion for knowledge and the spreading of knowledge
          Open Source Projects
        </p>          
        <p>Always Been Interested in The Internet
          Passion for knowledge and the spreading of knowledge
          Open Source Projects  Sports Lover,
          Always Been Interested in The Internet
          Passion for knowledge and the spreading of knowledge
          Open Source Projects Sports Lover,
          Always Been Interested in The Internet
          Passion for knowledge and the spreading of knowledge
          Open Source Projects Sports Lover,
          Always Been Interested in The Internet
          Passion for knowledge and the spreading of knowledge
          Open Source Projects
        </p>
      </div>
    </div>     
  </div>
</div>
