

.exper_texts img{
  float: left;
}

.exper_texts img:first-child{
  padding: 15px;
  position: absolute; 
  left: 0; 
  bottom: 0; 
}


.exper_texts h4{]
  position: relative;
  top: 18px;
  left: 10px;
  position: absolute; 
  right: 0; 
  bottom: 0; 
}


.exper_img {
/*  display: inline-block;
  width: 80%;
  float: left;*/
  width: 100%;
  margin: 0 auto;
}

.exper_img div{
  width: 600px;
}


.exper_texts {
  float: left;
  display: inline-block;
  list-style: none;
}

.full_container {

}

.front_page {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
}


.header_block {
  text-align: center;
}

.linkedin {
  padding-bottom: 20px;
  color: blue;
}

.github {
  padding-bottom: 20px;
}



.header_icon ul{
  float: center;
  padding: 0;
  list-style: none; 
  display: block;
  height: 40px;
  width: 38%;
  margin: auto;
  color: blue;
  font-size: 15px;
}

.header_icon li{
  float: left;
  padding-left: 15px;
}

.header_block {
  text-align: center;
  padding-left: 15px;
}

.tab {
  width: 500px;
  text-align: center;
  margin: auto;
}


#tab2 {
  float: left;

}

#tab2 h2{
  float: right;
  margin-right: 250px;
}

.tab_bar {
  text-align: center;
}

.tab_text {
  text-align: center;
  float: center;
}


.tabs {
    text-align: center;
    float: right;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    width: 100%;
    list-style: none;


}
.tabs li {
    padding: 15px 20px 15px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    position: relative;
   
}

.tabs li:first-child{
  padding-left: 0px;
}


.tabs li a {
    color: #666;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-size: 20px;
  }

  #tab2 {
    margin: 0;
    display: block;
  }




