.full_container {
  height: 900px;
}

.front_page {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
}


.header_block {
  text-align: center;
}

.linkedin {
  padding-bottom: 20px;
  color: blue;
}

.github {
  padding-bottom: 20px;
}


.header_icon ul{
  float: center;
  padding: 0;
  list-style: none; 
  display: block;
  height: 40px;
  width: 38%;
  margin: auto;
  color: blue;
  font-size: 15px;

}

.header_icon li{
  float: left;
  padding-right: 10px;
}

.tab_bar {
  text-align: center;

}

#tabs {
width: 1000px;


  
}


#tabs li{
    display:inline-block;
    padding:10px 25px;
    background:#aaa;
    border:1px solid #777;
    border-bottom:none;
    border-radius:4px 4px 0 0;
    margin-right:3px;
    color:#fff;
    text-decoration:none;
    text-align: center;
}

