.full_container {
  height: 900px;
}

.front_page {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
}


.header_block {
  text-align: center;
}

.linkedin {
  padding-bottom: 20px;
  color: blue;
}

.github {
  padding-bottom: 20px;
}


.header_icon ul{
  float: center;
  padding: 0;
  list-style: none; 
  display: block;
  height: 40px;
  width: 38%;
  margin: auto;
  color: blue;
  font-size: 15px;

}

.header_icon li{
  float: left;
  padding-right: 10px;
}

.tab_bar {
  text-align: center;

}

.tabs {
    float: left;
    padding-left: 320px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    list-style: none;
}
.tabs li {
    float: left;
    padding: 10px 20px 15px;
    height: 30px;
    line-height: 30px;
   
}
.tabs li a {
    color: #666;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-size: 20px;
  }


